idea-plugin/src/main/java/META-INF/KnownMetaData.dtd

<!ELEMENT AccessibilityClass EMPTY>
<!ATTLIST AccessibilityClass implementation CDATA #REQUIRED>
<!ELEMENT Alternative EMPTY>
<!ATTLIST Alternative
  replacement CDATA #IMPLIED
  since CDATA #IMPLIED
>
<!ELEMENT ArrayElementType EMPTY>
<!ATTLIST ArrayElementType
  _DEFAULT_ CDATA "Object"
  elementType CDATA "Object"
>
<!ELEMENT Bindable EMPTY>
<!ATTLIST Bindable
  event CDATA #IMPLIED
  style CDATA #IMPLIED
>
<!ELEMENT Clear EMPTY>
<!ELEMENT DataBindingInfo EMPTY>
<!ELEMENT RequiresDataBinding EMPTY>
<!ELEMENT DefaultTriggerEvent EMPTY>
<!ELEMENT DefaultBindingProperty EMPTY>
<!ATTLIST DefaultBindingProperty
   source CDATA #IMPLIED
   destination CDATA #IMPLIED
>
<!ELEMENT DefaultProperty EMPTY>
<!ELEMENT Deprecated EMPTY>
<!ATTLIST Deprecated since CDATA #REQUIRED replacement CDATA #REQUIRED message CDATA #IMPLIED>

<!ELEMENT Effect EMPTY>
<!ATTLIST Effect
  name CDATA #REQUIRED
  event CDATA #REQUIRED
  deprecatedMessage CDATA #IMPLIED
  deprecatedReplacement CDATA #IMPLIED
  deprecatedSince CDATA #IMPLIED
>

<!ELEMENT Embed EMPTY>
<!ATTLIST Embed 
  source CDATA #REQUIRED 
  mimeType CDATA #IMPLIED 
  smoothing (true|false) #IMPLIED
  compression (true|false) #IMPLIED
  quality CDATA #IMPLIED
  scaleGridTop CDATA #IMPLIED
  scaleGridLeft CDATA #IMPLIED 
  scaleGridRight CDATA #IMPLIED 
  scaleGridBottom CDATA #IMPLIED 
  symbol CDATA #IMPLIED
   --fonts--
  fontFamily CDATA #IMPLIED
  fontName CDATA #IMPLIED
  systemFont CDATA #IMPLIED
  fontStyle CDATA #IMPLIED 
  fontWeight CDATA #IMPLIED 
  advancedAntiAliasing CDATA #IMPLIED 
  embedAsCFF CDATA #IMPLIED 
  unicodeRange CDATA #IMPLIED 

  encoding CDATA #IMPLIED
  exportSymbol CDATA #IMPLIED
  original CDATA #IMPLIED
  skinClass CDATA "Object"
  sourceList CDATA #IMPLIED
  flashType (true|false) #IMPLIED
  >
  
<!ELEMENT Event EMPTY>
<!ATTLIST Event
  name CDATA #REQUIRED
  type CDATA "flash.events.Event,starling.events.Event,js.Event,ext.IEventObject,com.coremedia.ui.data.PropertyChangeEvent"
  deprecatedMessage CDATA #IMPLIED
  deprecatedReplacement CDATA #IMPLIED
  deprecatedSince CDATA #IMPLIED
>
<!ELEMENT Exclude EMPTY>
<!ATTLIST Exclude
  name CDATA #REQUIRED
  kind (property|method|event|style|effect) #IMPLIED
>
<!--
  Depending on the compiler switch "publicApiViolations", using classes annotated with [ExcludeClass] results in
  an error, a warning, or is silently allowed.
  See [PublicApi] annotation and "excludeClassByDefault" compiler switch.
-->
<!ELEMENT ExcludeClass EMPTY>
<!ELEMENT Frame EMPTY>
<!ATTLIST Frame
  factoryClass CDATA "Object"
  extraClass CDATA "Object"
>
<!ELEMENT HostComponent EMPTY>
<!ATTLIST HostComponent
  _DEFAULT_ CDATA "spark.components.supportClasses.SkinnableComponent"
>
<!ELEMENT IconFile EMPTY>
<!ELEMENT Inline EMPTY>
<!ELEMENT Inspectable EMPTY>
<!ATTLIST Inspectable
  arrayType CDATA "Object"
  category CDATA #REQUIRED
  defaultValue CDATA #IMPLIED
  enumeration CDATA #IMPLIED
  environment CDATA #REQUIRED
  format CDATA #IMPLIED
  listOffset CDATA #IMPLIED
  maxValue CDATA #IMPLIED
  minValue CDATA #IMPLIED
  name CDATA #IMPLIED
  type CDATA #IMPLIED
  variable CDATA #IMPLIED
  verbose CDATA #IMPLIED
>

<!ELEMENT InstanceType EMPTY>
<!ELEMENT NonCommittingChangeEvent EMPTY>
<!ELEMENT PercentProxy EMPTY>
<!ELEMENT RemoteClass EMPTY>
<!ATTLIST RemoteClass
  alias CDATA #REQUIRED
>
<!ELEMENT ResourceBundle EMPTY>
<!ELEMENT Resource EMPTY>
<!ATTLIST Resource
  bundle CDATA #IMPLIED
  key CDATA #REQUIRED
>
<!ELEMENT RichTextContent EMPTY>
<!ELEMENT CollapseWhiteSpace EMPTY>
<!ELEMENT SkinPart EMPTY>
<!ATTLIST SkinPart
  required (true|false) #IMPLIED
  type CDATA "Object"
>
<!ELEMENT SkinState EMPTY>
<!ELEMENT Style EMPTY>
<!ATTLIST Style
  name CDATA #REQUIRED
  type CDATA "Object"
  inherit CDATA #REQUIRED
  format CDATA #IMPLIED
  arrayType CDATA "Object"
  enumeration CDATA #IMPLIED
  states CDATA #IMPLIED
  theme CDATA #IMPLIED
  deprecatedMessage CDATA #IMPLIED
  deprecatedReplacement CDATA #IMPLIED
  deprecatedSince CDATA #IMPLIED
  minValue CDATA #IMPLIED
  maxValue CDATA #IMPLIED
>

<!ELEMENT SWF EMPTY>
<!ATTLIST SWF
  width CDATA #IMPLIED
  height CDATA #IMPLIED
  backgroundColor CDATA #IMPLIED
  frameRate CDATA #IMPLIED
  widthPercent CDATA #IMPLIED
  heightPercent CDATA #IMPLIED
  scriptRecursionLimit CDATA #IMPLIED
  scaleMode CDATA #IMPLIED
  scriptTimeLimit CDATA #IMPLIED
  pageTitle CDATA #IMPLIED
  quality CDATA #IMPLIED
>
<!ELEMENT Transient EMPTY>
<!ELEMENT Mixin EMPTY>

<!ELEMENT Mock EMPTY>
<!ELEMENT Inject EMPTY>
<!ATTLIST Inject
  source CDATA #IMPLIED
  destination CDATA #IMPLIED
  required (true|false) #IMPLIED
  bind (true|false) #IMPLIED
  twoWay (true|false) #IMPLIED
  optional (true|false) #IMPLIED

  name CDATA #IMPLIED

  id CDATA #IMPLIED
  type CDATA #IMPLIED
  auto (true|false) #IMPLIED
>

<!ELEMENT Autowire EMPTY>
<!ATTLIST Autowire
  bean CDATA #IMPLIED
>
<!ELEMENT Mediate EMPTY>
<!ATTLIST Mediate
  event CDATA #IMPLIED
  properties CDATA #IMPLIED
  useCapture (true|false) #IMPLIED
  priority CDATA #IMPLIED
  stopPropagation (true|false) #IMPLIED
  stopImmediatePropagation (true|false) #IMPLIED
>
<!ELEMENT Dispatcher EMPTY>
<!ATTLIST Dispatcher
  scope (global|local) #IMPLIED
>
<!ELEMENT PostConstruct EMPTY>
<!ATTLIST PostConstruct
  order CDATA #IMPLIED
>
<!ELEMENT PreDestroy EMPTY>
<!ATTLIST PreDestroy
  order CDATA #IMPLIED
>
<!ELEMENT ViewAdded EMPTY>
<!ELEMENT ViewRemoved EMPTY>

<!--Spring ActionScript-->
<!ELEMENT Autowired EMPTY>
<!ATTLIST Autowired
  externalProperty CDATA #IMPLIED
  mode CDATA #IMPLIED
  name CDATA #IMPLIED
  property CDATA #IMPLIED
>

<!ELEMENT EventHandler EMPTY>
<!ATTLIST EventHandler
  event CDATA #IMPLIED
  scope (global|local) #IMPLIED
  properties CDATA #IMPLIED
  priority CDATA #IMPLIED
  useCapture (true|false) #IMPLIED
  stopPropagation (true|false) #IMPLIED
  stopImmediatePropagation (true|false) #IMPLIED
  name CDATA #IMPLIED
  clazz CDATA #IMPLIED
>

<!ELEMENT Required EMPTY>

<!ELEMENT RouteEvents EMPTY>
<!ATTLIST RouteEvents
  events CDATA #IMPLIED
>

<!-- FlexUnit -->
<!ELEMENT BeforeClass EMPTY>
<!ATTLIST BeforeClass
  order CDATA #IMPLIED
  description CDATA #IMPLIED
  timeout CDATA #IMPLIED
  async CDATA #IMPLIED
  ui CDATA #IMPLIED
>
<!ELEMENT AfterClass EMPTY>
<!ATTLIST AfterClass
  order CDATA #IMPLIED
  description CDATA #IMPLIED
  timeout CDATA #IMPLIED
  async CDATA #IMPLIED
  ui CDATA #IMPLIED
>
<!ELEMENT Before EMPTY>
<!ATTLIST Before
  order CDATA #IMPLIED
  description CDATA #IMPLIED
  timeout CDATA #IMPLIED
  async CDATA #IMPLIED
  ui CDATA #IMPLIED
>
<!ELEMENT After EMPTY>
<!ATTLIST After
  order CDATA #IMPLIED
  description CDATA #IMPLIED
  timeout CDATA #IMPLIED
  async CDATA #IMPLIED
  ui CDATA #IMPLIED
>
<!ELEMENT Rule EMPTY>
<!ATTLIST Rule
  order CDATA #IMPLIED
>
<!ELEMENT Suite EMPTY>
<!ATTLIST Suite
  order CDATA #IMPLIED
  description CDATA #IMPLIED
>
<!ELEMENT RunWith EMPTY>
<!ATTLIST RunWith
  _DEFAULT_ CDATA "org.flexunit.runner.IRunner"
>
<!ELEMENT Ignore EMPTY>
<!ATTLIST Ignore
  description CDATA #IMPLIED
>
<!ELEMENT Abstract EMPTY>
<!ELEMENT Test EMPTY>
<!ATTLIST Test
  expects CDATA "Error"
  order CDATA #IMPLIED
  description CDATA #IMPLIED
  timeout CDATA #IMPLIED
  async CDATA #IMPLIED
  ui CDATA #IMPLIED
  dataProvider CDATA #IMPLIED
>
<!ELEMENT DataPoint EMPTY>
<!ATTLIST DataPoint
  description CDATA #IMPLIED
  loader CDATA #IMPLIED
>
<!ELEMENT DataPoints EMPTY>
<!ATTLIST DataPoints
  description CDATA #IMPLIED
  loader CDATA #IMPLIED
>
<!ELEMENT Parameters EMPTY>
<!ATTLIST Parameters
  description CDATA #IMPLIED
  loader CDATA #IMPLIED
>
<!ELEMENT Theory EMPTY>
<!ATTLIST Theory
  description CDATA #IMPLIED
>

<!-- Parsley -->
<!ELEMENT Metadata EMPTY>
<!ELEMENT AssignableTo EMPTY>
<!ELEMENT InjectConstructor EMPTY>
<!ELEMENT Factory EMPTY>
<!ATTLIST Factory
  method CDATA #IMPLIED
>
<!ELEMENT AsyncInit EMPTY>
<!ATTLIST AsyncInit
  completeEvent CDATA #IMPLIED
  errorEvent CDATA #IMPLIED
>
<!ELEMENT Init EMPTY>
<!ATTLIST Init
  method CDATA #IMPLIED
>
<!ELEMENT Destroy EMPTY>
<!ATTLIST Destroy
  method CDATA #IMPLIED
>
<!ELEMENT ManagedEvents EMPTY>
<!ATTLIST ManagedEvents
  names CDATA #IMPLIED
  scope CDATA #IMPLIED
>
<!ELEMENT MessageDispatcher EMPTY>
<!ATTLIST MessageDispatcher
  property CDATA #IMPLIED
  scope CDATA #IMPLIED
>
<!ELEMENT MessageHandler EMPTY>
<!ATTLIST MessageHandler
  type CDATA #IMPLIED
  messageProperties CDATA #IMPLIED
  selector CDATA #IMPLIED
  scope CDATA #IMPLIED
  method CDATA #IMPLIED
  order CDATA #IMPLIED
>
<!ELEMENT MessageBinding EMPTY>
<!ATTLIST MessageBinding
  type CDATA #IMPLIED
  messageProperty CDATA #IMPLIED
  selector CDATA #IMPLIED
  scope CDATA #IMPLIED
  targetProperty CDATA #IMPLIED
>
<!ELEMENT MessageInterceptor EMPTY>
<!ATTLIST MessageInterceptor
  type CDATA #IMPLIED
  selector CDATA #IMPLIED
  scope CDATA #IMPLIED
  method CDATA #IMPLIED
>
<!ELEMENT MessageError EMPTY>
<!ATTLIST MessageError
  type CDATA #IMPLIED
  selector CDATA #IMPLIED
  scope CDATA #IMPLIED
  method CDATA #IMPLIED
>
<!ELEMENT ResourceBinding EMPTY>
<!ATTLIST ResourceBinding
  bundle CDATA #IMPLIED
  key CDATA #IMPLIED
  property CDATA #IMPLIED
>
<!ELEMENT Selector EMPTY>
<!ELEMENT Target EMPTY>
<!ELEMENT Internal EMPTY>
<!ELEMENT ObjectDefinition EMPTY>
<!ATTLIST ObjectDefinition
  lazy (true|false) #IMPLIED
  singleton (true|false) #IMPLIED
  id CDATA #IMPLIED
  order CDATA #IMPLIED
>
<!ELEMENT Publish EMPTY>
<!ATTLIST Publish
  objectId CDATA #IMPLIED
  scope CDATA #IMPLIED
  managed CDATA #IMPLIED
  changeEvent CDATA #IMPLIED
>
<!ELEMENT PublishSubscribe EMPTY>
<!ATTLIST PublishSubscribe
  objectId CDATA #IMPLIED
  persistent (true|false) #IMPLIED
  scope CDATA #IMPLIED
>
<!ELEMENT Subscribe EMPTY>
<!ATTLIST Subscribe
  objectId CDATA #IMPLIED
  scope CDATA #IMPLIED
>

<!-- Jangaroo -->
<!--
  Annotation for ActionScript API classes, package-scope variables or functions whose implementation is provided,
  so the compiler generates no code.
  If the implementation is in JavaScript, you can specify the name of the AMD module containing the
  implementation as property "amd", and the global JavaScript name of the object in "global".
-->
<!ELEMENT Native EMPTY>
<!ATTLIST Native
  amd CDATA #IMPLIED
  global CDATA #IMPLIED
>
<!--
  Annotation to convert property accessor methods into normal methods.
  For example, a public function get x():String annotated with [Accessor] is converted into a method named getX.
  The optional default annotation parameter can be used to determine the name of the accessor. If not given, the
  name is derived from the property name, first letter upper-case, prefixed with "get" or "set.
-->
<!ELEMENT Accessor EMPTY>
<!ATTLIST Accessor
  _DEFAULT_ CDATA #IMPLIED
>
<!--
  Annotation for ActionScript classes that Jangaroo should consider public API.
  If the compiler switch "excludeClassByDefault" is used, the compiler will add an [ExcludeClass] annotation to any
  API stub whose source class does not contain a [PublicApi] annotation.
  Depending on the compiler switch "publicApiViolations", using classes annotated with [ExcludeClass] results in
  an error, a warning, or is silently allowed.
-->
<!ELEMENT PublicApi EMPTY>
<!--
  Annotation for a Sencha Ext JS or Touch config class.
  Specify the target class to be used when instantiating this config object in property "target".
  Use property "xtype", "ptype", "type", or "gctype" for a component, plugin, layout, grid column, respectively.
  If the "*type" property is used without a value, the fully qualified config class name is used.
-->
<!ELEMENT ExtConfig EMPTY>
<!ATTLIST ExtConfig
  target CDATA #REQUIRED
  xtype CDATA #IMPLIED
  ptype CDATA #IMPLIED
  type CDATA #IMPLIED
  gctype CDATA #IMPLIED
>
<!--
  Annotation for a class implementing a REST resources.
  Specify the URI template to use in property "uriTemplate".
-->
<!ELEMENT RestResource EMPTY>
<!ATTLIST RestResource
  uriTemplate CDATA #REQUIRED
>
<!ELEMENT InjectFromExtParent EMPTY>
<!ATTLIST InjectFromExtParent
  variable CDATA #IMPLIED
  variableNameConfig CDATA #IMPLIED
>
<!ELEMENT ProvideToExtChildren EMPTY>
<!ATTLIST ProvideToExtChildren
  variable CDATA #IMPLIED
>
<!--
  Annotation for a property that can also be set by handing
  in a name-value configuration object to the constructor.
  A different name (alias) to use in the constructor can be
  specified via a string attribute like this:
    [ConstructorParameter("componentId")]
    public native function set id(value:String):void;
  A value that must be set on the configuration object to
  indicate the type to use to instantiate the object later
  can be given in the attribute "value", like this:
    [ConstructorParameter(value="box")]
    public native function get xtype():String;
-->
<!ELEMENT ConstructorParameter EMPTY>
<!ATTLIST ConstructorParameter
  _DEFAULT_ CDATA #IMPLIED
  value CDATA #IMPLIED
>
<!--
  Annotation for a property that, instead of receiving
  instantiated objects, can also receive configuration
  objects and cares about instantiating them itself.
  The configuration objects need to have a
  [ConstructorParameter] with a "value" attribute set
  so that the right type of object can be instantiated.
-->
<!ELEMENT AllowConstructorParameters EMPTY>
